.information__items {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  margin-bottom: 20px;
  border-radius: 20px;

  .information__item {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 25%;
    height: 100px;
    padding: 15px 25px;

    &:not(:last-child) {
      border-right: 1px solid rgba(128, 128, 128, 0.1);
    }

    .information__item_pic {
      color: #E95D2A;
      font-size: 36px;
      margin: 10px 0;
    }

    .information__item_text {
      flex-direction: column;
      max-width: 169px;
      margin: 10px 0 10px 24px;

      h4 {
        color: #0c061a;
        font-size: 15px;
        line-height: 19px;
        margin-bottom: 8px;
        margin-top: 0;
        font-weight: normal;
        letter-spacing: -1px;
      }

      p {
        color: #0c061a;
        font-size: 13px;
        line-height: 17px;
        opacity: .6;
        min-height: 33px;
        margin: 0;
      }
    }
  }
}

@media (max-width: 1130px) {
  .information__items {
    .information__item {
      .information__item_text {
        h4 {
          font-size: 13px;
        }

        p {
          font-size: 11px;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .information__items {
    flex-wrap: wrap;

    .information__item {
      padding: 10px 0;
      width: 49.5%;

      &:nth-child(2) {
        border-right: none;
        border-bottom: 1px solid rgba(128, 128, 128, 0.1);
      }

      &:nth-child(1) {
        border-bottom: 1px solid rgba(128, 128, 128, 0.1);
      }

      .information__item_text {
        h4 {
          font-size: 13px;
        }

        p {
          font-size: 11px;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .information__items {
    .information__item {
      width: 100%;

      &:nth-child(3) {
        border-bottom: 1px solid rgba(128, 128, 128, 0.1);
      }
    }
  }
}