.brands {
  .brands__wrap {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    background: white;
    border-radius: 20px;
    min-height: 100px;
    margin-bottom: 60px;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 0;
      height: auto;
      max-height: 55px;
      padding: 25px 0;

      &:nth-child(1) {
        img {
          width: 116px;
        }
      }

      &:nth-child(2) {
        img {
          width: 120px;
        }
      }

      &:nth-child(3) {
        img {
          width: 95px;
        }
      }

      &:nth-child(4) {
        img {
          width: 48px;
        }
      }

      &:nth-child(5) {
        img {
          width: 100px;
        }
      }

      &:nth-child(6) {
        img {
          width: 120px;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .brands {
    .brands__wrap {
      flex-wrap: wrap;

      a {
        width: 33%;
        height: 44px;

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(4),
        &:nth-child(5) {
          border-right: 1px solid rgba(128, 128, 128, 0.1);
        }

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          border-bottom: 1px solid rgba(128, 128, 128, 0.1);
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .brands {
    .brands__wrap {
      a {
        width: 49%;

        &:nth-child(odd) {
          border-right: 1px solid rgba(128, 128, 128, 0.1);
        }

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
          border-bottom: 1px solid rgba(128, 128, 128, 0.1);
        }
      }
    }
  }
}